.left{
    /* width: 420px; */
    width: 25vw;
    height: 90vh;
    background-color: #121212;
    /* border:2px solid red; */
    height: 85vh;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
}
 header
{
    /* margin: 25px; */
    padding: 15px;
    justify-content: space-between;
}
header button{
    gap: 10px;

}
.library-txt{
    font-size: 15px;
    font-weight: bold;
    color:rgb(165, 162, 162);
}


.main{
max-height: 53vh;
max-width:25vw;


}
.songlist{
    height: 400px;
    overflow: auto;
}
.main ul li{
    border: 2px solid rgb(157, 156, 156);
   list-style: none;
   list-style: decimal;
   display: flex ;
   justify-content: space-between;
   align-items: center;
   gap: 5px;
   max-width: 24vw;
   padding: 5px 5px;
   cursor: pointer;
  height: 40px;
  border-radius: 6px;
   
}
.main ul{
    width:25vw;
    height: 350;
    gap: 10px;
    flex-direction: column;
    padding: 0 20px;
    overflow: auto;
    /* border:  2px solid red; */

}
.info{
    font-size: 13px;
    width: 234px;
    padding-left: 5px;
    /* border: 2px solid red; */
}

.songname{
    
        /* position: relative; */
        /* transform: translateX(100%); */
        /* transition: transform 0.5s ease-in-out; */

}

.playnow{
    width: 100px;
    /* color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 6px;
    font-weight: 700;
    /* border: 2px solid red; */
}

footer div {
    flex-wrap: wrap;
    gap: 10px;
   
}

  footer{
    width: 23vw;
    bottom: 0;
    height: 20vh;
    /* border: 2px solid red; */
  } 

/* footer div a{
    color: white;

} */
.footer-a a{
    /* font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif; */

    font-weight: 400;
    font-size: 11px;
    color: rgb(181, 176, 176);
    text-decoration: none;
    /* border: 2px solid red; */
    
}
.footer-padding{
    padding-left: 20px;
}
.div-a a{
    text-decoration: none;
    color: rgb(250, 247, 247);
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat", serif;
    /* border: 2px solid red; */
}
.div-a{
    margin-top: 20px;
    

}




.footer-btn{
    margin-top: 20px;
    height: 50px;
    padding-left: 20px;
}
.footer-btn-content{
    gap: 6px;
    padding: 5px 10px;
    border-radius: 20px;
    background: transparent;
    color:  rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
   ;
}
.footer-btn button
{
    border: 1px solid rgb(177, 175, 175)
}
.footer-btn button:hover{
    border: 2px solid white;
    cursor: pointer;
}